@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;
    text-align: center;
}
.floating-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    background: rgb(255, 64, 58);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    /* line-height: 1.5;*/
    letter-spacing: 0.5px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    width: auto;
    max-width: none;
    box-sizing: content-box;
    border: none; /* Remove any border */
    text-decoration: none; /* Remove underline, if any */
}
